/*formatting*/

body {
    background: dimgray;
}

#center {
    display: grid;
    place-items: center;
    height: "10vh";
}

/* postioning for objects*/

#sprite {
    position: absolute;
    width: 300px;
    top: 155px;
    left: 550px;
}

#spriteOpen {
    position: absolute;
    width: 300px;
    top: 155px;
    left: 550px;
    animation-name: blinking;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#bg {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 4px solid black;
    border-bottom: transparent;
}

#bgSize {
    width: 700px;
    height: 450px;
}

#desk {
    position: absolute;
    top: 160px;
    left: 3px;
    width: 236px;
    -webkit-animation: pop 1s ease-in-out infinite alternate;
    animation: pop 1s ease-in-out infinite alternate;
    -moz-animation: pop 1s ease-in-out infinite alternate;
}

#poster1 {
    position: absolute;
    top: 5px;
    left: 48px;
    width: 180px;
    -webkit-animation: pop 1s ease-in-out infinite alternate;
    animation: pop 1s ease-in-out infinite alternate;
    -moz-animation: pop 1s ease-in-out infinite alternate;
}

#poster2 {
    position: absolute;
    top: -5px;
    left: 260px;
    width: 420px;
    -webkit-animation: pop 1s ease-in-out infinite alternate;
    animation: pop 1s ease-in-out infinite alternate;
    -moz-animation: pop 1s ease-in-out infinite alternate;
}

h1 {
    font-family: "Pocket Ball";
    font-size: xx-large;
}


/* animations */

@keyframes pop {
    from {
        transform: scale(0.989);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0.989);
    }
}

@-webkit-keyframes pop {
    from {
        -webkit-transform: scale(0.989);
    }

    50% {
        -webkit-transform: scale(1);
    }

    to {
        -webkit-transform: scale(0.989);
    }
}


@keyframes blinking {
    29% {
        opacity: 100%;
    }
    30% {
        opacity: 0%;
    }
    31% {
        opacity: 100%;
    }
    59%{
        opacity: 100%;
    }
    60%{
        opacity: 0%;
    }
    61%{
        opacity: 100%;
    }
    62%{
        opacity: 100%;
    }
    63%{
        opacity: 0%;
    }
    64%{
        opacity: 100%;
    }
}

/* cursor */
/* Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym594.cur), auto !important;
} /* End https://www.cursors-4u.com */
